{%extends "base.html"%}
{% block content %}
<div class="col-4">
    <div class="row">
        <div class="col-12"><img src=""></div>
        <div class="col-12">
            <h4>{{ profil.user.first_name}} {{ profil.user.last_name}}</h4>
            <h4>{{ profil.city }}</h4>
            <a href="{% url 'profil_update' profil.user.username %}">Edit</a>
            <a href="{% url 'delete' profil.user.username %}">Delete</a>
        </div>
        <div class="col-12 mt-5">
          <h3>Interests</h3>
        </div>
        <div class="col-12 mt-5">
            <h3>FRIENDS</h3>
        </div>
    </div>
    <!-- <ul>
        <li>{{ profil.user}}</li>
        <li>{{ profil.user.first_name}}</li>
        <li>{{ profil.user.last_name}}</li>
        <li>{{ profil.age }}</li>
        <li>{{ profil.city }}</li>
        <li>{{ profil.interet }}</li>
        
    </ul> -->
</div>

<div class="col-8">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
</div>
<div class="card-footer border-top-0">
  <h5 class="card-text text-muted">Friend's recommendation :</h5>
  <ul class="list-group list-group-flush">
      {% for profil in reco_list %}
      {% if user.username == profil.user.username and profil.user.username != profil.user.reco_list %}                        
      {% else %}
      <li class="list-group-item list-group-item-action"><a href="/profil/{{ profil.user.username }}/follow/friend_username"><i class="fas fa-user-plus pr-5"></i></a>{{ profil.user.username }}</li>                        
                  {% endif %}
                  {% endfor %}
  </ul>
</div>
{% endblock %}

